server:
  port: 9000

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: trace
    org.springframework.security.jackson2: INFO

spring:
  security:
    oauth2:
      authorizationserver:
        issuer: http://${LOCAL_IP:localhost}:9000

app:
  wallet-attestation:
    trusted-issuers:
      - http://${LOCAL_IP:localhost}:9001/wp
    max-pop-age-seconds: 300
    max-wia-age-seconds: 86400
  require-consent: true
  extra-redirect-uris: []

---
spring:
  config:
    activate:
      on-profile: cloud

  security:
    oauth2:
      authorizationserver:
        issuer: https://vc-auth-server.onrender.com

app:
  wallet-attestation:
    trusted-issuers:
      - https://wallet-provider.onrender.com/wp
    max-pop-age-seconds: 300
    max-wia-age-seconds: 86400
  require-consent: false
  extra-redirect-uris:
    - https://demo.certification.openid.net/test/a/kmandalas-pda1-issuer/callback
