server:
  port: 9000

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: trace
    org.springframework.security.jackson2: INFO

spring:
  security:
    oauth2:
      authorizationserver:
        issuer: http://${LOCAL_IP:localhost}:9000

---
spring:
  config:
    activate:
      on-profile: cloud

  security:
    oauth2:
      authorizationserver:
        issuer: https://vc-auth-server.kmandalas.com
