spring:
  application:
    name: demo-issuer

  ssl:
    bundle:
      pem:
        issuer-signing:
          keystore:
            certificate: classpath:issuer_cert.pem
            private-key: classpath:issuer_key.pem

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://${LOCAL_IP:localhost}:9000

logging:
  level:
    # DPoP authentication (use TRACE only when debugging auth issues)
    org.springframework.security: DEBUG

app:
  metadata:
    endpoints:
      issuer: http://${LOCAL_IP:localhost}:8080
      authorization: http://${LOCAL_IP:localhost}:9000
      credential: http://${LOCAL_IP:localhost}/credential
    claims:
      audience: http://${LOCAL_IP:localhost}:8080
      vct: "urn:eu.europa.ec.eudi:pda1:1"
      iss: http://${LOCAL_IP:localhost}/credential

---
spring:
  config:
    activate:
      on-profile: cloud

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://vc-auth-server.kmandalas.com

app:
  metadata:
    endpoints:
      issuer: https://vc-issuer.kmandalas.com
      authorization: https://vc-auth-server.kmandalas.com
      credential: https://vc-issuer.kmandalas.com/credential
    claims:
      audience: https://vc-issuer.kmandalas.com
      vct: "urn:eu.europa.ec.eudi:pda1:1"
      iss: https://vc-issuer.kmandalas.com/credential