server:
  port: 9002

spring:
  application:
    name: verifier
  ssl:
    bundle:
      pem:
        verifier-signing:
          keystore:
            certificate: classpath:verifier_cert.pem
            private-key: classpath:verifier_key.pem

app:
  request-uri-store: http://${LOCAL_IP:localhost}:9002/verifier/request-object/
  deep-link-prefix: openid4vp://?client_id=verifier-backend.eudiw.cgn&request_uri=
  issuer-jwks-url: http://${LOCAL_IP:localhost}:8080/.well-known/jwks.json
  response-uri: http://${LOCAL_IP:localhost}:9002/verifier/verify-vp

---
spring:
  config:
    activate:
      on-profile: cloud

app:
  request-uri-store: https://vp-verifier.kmandalas.com/verifier/request-object/
  deep-link-prefix: openid4vp://?client_id=verifier-backend.eudiw.cgn&request_uri=
  issuer-jwks-url: https://vc-issuer.kmandalas.com/.well-known/jwks.json
  response-uri: https://vp-verifier.kmandalas.com/verifier/verify-vp