server:
  port: 9002

spring:
  application:
    name: verifier
  ssl:
    bundle:
      pem:
        verifier-signing:
          keystore:
            certificate: classpath:verifier_cert.pem
            private-key: classpath:verifier_key.pem

logging:
  level:
    com.example.verifier: DEBUG

app:
  request-uri-store: http://${LOCAL_IP:localhost}:9002/verifier/request-object/
  deep-link-prefix: openid4vp://?client_id=verifier-backend.eudiw.cgn&request_uri=
  trusted-issuers:
    - http://${LOCAL_IP:localhost}:8080
  response-uri: http://${LOCAL_IP:localhost}:9002/verifier/verify-vp
  status-check-enabled: true

---
spring:
  config:
    activate:
      on-profile: cloud

app:
  request-uri-store: https://vp-verifier.onrender.com/verifier/request-object/
  deep-link-prefix: openid4vp://?client_id=verifier-backend.eudiw.cgn&request_uri=
  trusted-issuers:
    - https://vc-issuer.onrender.com
  response-uri: https://vp-verifier.onrender.com/verifier/verify-vp
  status-check-enabled: true